<div class="{{if _link 'item'}} {{if _link typeClass}} {{if _link styleClasses}}">
  {{#if _link}}
    <a class="item-content" style={{_transformOutput}}>
      {{yield section.link}}
    </a>
  {{/if}}
  {{#if _label}}
    <label class="item item-content {{typeClass}} {{styleClasses}}" style={{_transformOutput}}>
      {{yield section.content}}
    </label>
  {{/if}}
  <div class="item-options {{_optionVisibilityClass}}">
    {{yield section.options}}
  </div>
</div>
